<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
  <link rel="icon" type="image/png" href="./assets/icon/favicon-32x32.png">
  <meta name="fragment" content="!">

  <meta name="description" content="SAMBAR is the Internet of Trades success platform, hundreds of modern spread trade opportunities and we empower 99 to win financial market.">
  <meta name="robots" content="index,follow" />
  <meta name="application-name" content="SAMBAR"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="SAMBAR: Master Modern Spread Trades | Internet Of Trades" /> 
  <meta property="og:description" content="SAMBAR is the Internet of Trades success platform, hundreds of modern spread trade opportunities and we empower 99 to win financial market." />
  <meta property="og:url" content="https://www.sambar.sbs/app/v1/register" />
  <meta property="og:site_name" content="sambar.sbs" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.sambar.sbs/app/v1/assets/img/sambar2.PNG?version=1.1" /> 
  <meta property="og:image:width" content="800" />
  <meta property="og:image:height" content="600" />
  <meta property="og:image:alt" content="SAMBAR: Master Modern Spread Trades" />
  <link rel='stylesheet' id='upme_google_fonts-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A400italic%2C700italic%2C400%2C700&#038;subset=latin%2Clatin-ext&#038;ver=4.9.8' type='text/css' media='all' />
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
   <!-- <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">  -->
  <!-- Server -->
  <base href="/app/v1/">
  
  <!-- Localhost -->
  <!-- <base href="/"> -->
  <style>
    .amcharts-chart-div a {
      visibility: hidden;
    }
  </style>

<link href="./assets/css/introjs.css" rel="stylesheet" />

</head>

<body>
<app>
</app>

<div id="preloader">
  <div></div>
</div>

<script src="https://checkout.stripe.com/checkout.js"></script>                                       

<script> window.prerenderReady = false; </script>

<script>
    Userback = window.Userback || {};
    Userback.access_token = '9748|18959|tPfZcswe9fRgMAfELlxE299CCdz2grX4jxkEjadQUXQnMlwg70';
    (function(id) {
        var s = document.createElement('script');
        s.async = 1;
        s.src = 'https://static.userback.io/widget/v1.js';
        var parent_node = document.head || document.body;
        parent_node.appendChild(s);
    })('userback-sdk');
</script>

<!-- For Disabling all Keys Code -->
<script language="JavaScript">
  /**
    * Disable right-click of mouse, F12 key , and save key combinations on page
    * By Tradedog (contact@tradedog.win)
    */
  window.onload = function() {
    document.addEventListener("contextmenu", function(e){
      e.preventDefault();
    }, false);
    document.addEventListener("keydown", function(e) {
    //document.onkeydown = function(e) {
      // "I" key
      if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
        disabledEvent(e);
      }
      // "J" key
      if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
        disabledEvent(e);
      }
      // "S" key + macOS
      if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
        disabledEvent(e);
      }
      // "U" key
      if (e.ctrlKey && e.keyCode == 85) {
        disabledEvent(e);
      }
      // "F12" key
      if (event.keyCode == 123) {
        disabledEvent(e);
      }
    }, false);
    function disabledEvent(e){
      if (e.stopPropagation){
        e.stopPropagation();
      } else if (window.event){
        window.event.cancelBubble = true;
      }
      e.preventDefault();
      return false;
    }
  };
</script>

<% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>

<% } %>
</body>
</html>
