<div class="auth-main" style="">
  <div class="auth-block login-block">
	<div class="td-logo">
		<a href="/"> <img alt="Sambar"  height="60" src="assets/img/sambar2.PNG"></a>
	</div>
    <h1 class="login_heading">{{(login_title === 'User Log In' ? 'Log In As User' : 'Log In As Analyst')}}</h1>
       <form class="form-signin" method="POST" action="#" role="form" autocomplete="off">
        <div class="error-success-div">
          <div *ngIf="errorMessage!=null && !errorAnalyst" class="alert alert-danger">
              <span class="inner_error">{{ errorMessage }}</span>
          </div>
          <div class="alert alert-success" *ngIf="successMessage!=null && !errorAnalyst"><span class="inner_error">{{successMessage}}</span></div>
           <div class="alert alert-success" *ngIf="successPlanMessage!=null && !errorAnalyst"><span class="inner_error">{{successPlanMessage}}</span></div>
           
           <div class="alert alert-danger" *ngIf="errorAnalyst"> 
            <span class="inner_error">Please <a href="javascript:void(0)" (click)="goToPage('analyst')"> click here</a> to log in as an analyst.</span></div>

           <div class="alert alert-danger" *ngIf="errorLogin"> 
            <span class="inner_error">Please <a href="javascript:void(0)" (click)="goToPage('login')">click here</a> to log in as a user.</span>
           </div>

        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupEmail">Username *</label>
            <div class="col-sm-9">
              <input id="signupEmail" required type="text" maxlength="100" placeholder="Enter your username" class="form-control" [(ngModel)]="username"
                   [ngModelOptions]="{standalone: true}" autocomplete="fake-email">
            </div>       
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupPassword">Password *</label>
            <div class="col-sm-9">
              <input id="signupPassword" required type="password" placeholder="Enter your password" maxlength="25" class="form-control"
                   length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" autocomplete="fake-email">
            </div>       
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label" for="signupCaptcha"></label>
          <div class="col-sm-9 captcha_down">
            <recaptcha (resolved)="resolved($event)" siteKey="6LfeiuIZAAAAAFzosJlXu9DCv4jJAlZ6yWAFXmAX"></recaptcha>
          </div>
        </div>
        <br />
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9 buttons-log-in-screen">
          <button  (click)="onLogin()" id="signupSubmit" [disabled]="!password || !username || !captcharesponse" type="submit" class="btn btn-default btn-auth" > {{ login_button }} </button>
          <!-- <a routerLink="/register" *ngIf="login_title == 'User Log In' "><button  type="button" class="btn btn-default btn-auth">Register As User</button></a> -->
          <!-- <a routerLink="/register/analyst" *ngIf="login_title == 'Analyst Log In' "><button  type="button" class="btn btn-default btn-auth">Register As Analyst</button></a> -->
          <a routerLink="/register"><button  type="button" class="btn btn-default btn-auth">Register</button></a>
          <button  (click)="back_Clicked()" type="button" class="btn btn-default btn-auth">Cancel</button>         
        </div>
      </div>

      <div class="form-group row">
        <div class="buttons-log-in-screen">
          <div class="forgot_username_center col-sm-12">
            <a routerLink="/forgot-password" class="forgot-pass">Forgot Password?</a>
            <a  routerLink="/forgot-username"  class="forgot-username">Forgot Username?</a>
            <!-- <a routerLink="/login/analyst" class="forgot-pass" *ngIf="login_title == 'User Log In' ">Log In As Analyst?</a>
            <a  routerLink="/login"  class="forgot-username" *ngIf="login_title == 'Analyst Log In' ">Log In As User?</a> -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



<div bsModal #childModal="bs-modal" class="modal fade loginModal trading_disclaimer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title disclaimer-title">Trading Disclaimer</h4>
      </div>
      <div class="modal-body">
        <p class="para-text">
          All trade results shown on this website are based on historical performances and have many inherent limitations, some of which are described below. No representation is ever being made that any trading based on the strategies suggested on this website will or likely achieve profits or losses similar to those shown on this website.</p>
        <p class="para-text">There are many sharp differences between historical performance results and the actual results subsequently achieved by any trading. One of the limitations of historical performance results is that they are prepared with the benefit of hindsight. In addition, historical trading does not involve financial risk and no historical trading record can completely account for the impact of financial risk in actual trading.</p>
      </div>
      <div class="modal-footer">
        <div class="col-md-12 choiceBox">
          <input type="checkbox" name="disclaimerChoice" id="disclaimerChoice" [(ngModel)]="disclaimerChoice"> 
          <label for="disclaimerChoice">Do not show this message again.</label>
        </div>
        <div class="col-md-12 text-center">
          <button class="btn btn-primary confirm-btn btn-sm goToList" (click)="closehideChildModal()">CONTINUE</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModal2="bs-modal" class="modal fade loginModal trading_disclaimer" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title disclaimer-title">IMPORTANT!  We will never call.</h4>
      </div>
      <div class="modal-body">
        <p class="para-text">
          No one from Sambar will ever call you, email you, or text you unprompted, requesting sensitive personal information.</p>
          <p class="para-text">
          You will be log in  <b style="color:blue;font-size:18px;">{{ countermessage }}</b> second.</p>
      </div>
      <div class="modal-footer">
        
       <!--  <div class="col-md-12 text-center">
          <button class="btn btn-primary confirm-btn btn-sm goToList" (click)="closehideChildModal2()" [disabled]="nocall">CONTINUE</button>
        </div> -->

      </div>
    </div>
  </div>
</div>

<div id="popup1" class="overlay" *ngIf="invalidcode">
  <div class="popup">
    <div class="close_btn ap_close_btn" (click)="invalidcode = false">&times;</div>
    <div class="content">
      Verification code invalid. Try again.
    </div>
    <div class="content">
      <a class="continue_session" (click)="closeinvalidcode()" >Ok</a>
    </div>  
  </div>
</div>


<div id="popup1" class="overlay" *ngIf="expireplan">
  <div class="popup">
    <div class="close_btn ap_close_btn" (click)="planexpired()">&times;</div>
    <div class="content">
      Your subscription has expired. Please subscribe to a plan to continue.
    </div>
    <div class="content">
      <a class="continue_session" (click)="closeexpireplan()" >Continue</a>
    </div>  
  </div>
</div>

<div id="popup1" class="overlay" *ngIf="expireplanN">
  <div class="popup">
    <div class="close_btn ap_close_btn" (click)="planexpired()">&times;</div>
    <div class="content">
      Your subscription has expired. Please subscribe to a plan to continue.
    </div>
    <div class="content">
      <a class="continue_session" (click)="closeexpireplanN()" >Continue</a>
    </div>  
  </div>
</div>
