<div class="auth-main">
  <div class="auth-block register-block">
  <div class="td-logo"> 
    <a href="/"><img alt="Sambar" src="assets/img/sambar2.PNG" height="60"></a>
  </div>
    <h1 class="register_heading" id="pageTop">{{register_title}} <span class="one_acc_user">(Only one account allowed per person.)</span></h1>
    <form class="form-signin" method="POST" action="#" role="form">
        <div *ngIf="errorMessage!=null" class="alert alert-danger">
            {{ errorMessage }}
        </div>
        <div class="alert alert-success" *ngIf="successMessage!=null">{{successMessage}}</div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupName">Invitation Code *</label>
            <div class="col-sm-5">
            <input id="invitation" type="text" name="invitation" placeholder="Enter your invitation code" maxlength="16" class="form-control"
                   [(ngModel)]="registrationUser.invitation" [ngModelOptions]="{standalone: true}" (change)="invitationChangeEvent($event)">
             </div>      
             <div class="col-sm-4" style="margin-top: 10px;">No Code ?  <a routerLink="/join/" >Join</a></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupName">First Name *</label>
            <div class="col-sm-9">
            <input id="signupName" type="text"  name="first_name" placeholder="Enter your first name" maxlength="50" class="form-control"
                   [(ngModel)]="registrationUser.first_name" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.invitationError">
             </div>      
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupMiddleName">Middle Name</label>
            <div class="col-sm-9">
            <input id="signupMiddleName" type="text"  name="middle_name" placeholder="Enter your middle name" maxlength="50" class="form-control"
                   [(ngModel)]="registrationUser.middle_name" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.first_name ? '' : null">
             </div>      
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupLastName">Last Name *</label>
            <div class="col-sm-9">
            <input id="signupLastName" type="text"  name="last_name" placeholder="Enter your last name" maxlength="50" class="form-control"
                   [(ngModel)]="registrationUser.last_name" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.middle_name ? '' : null">
             </div>      
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupEmail">Email *</label>
          <div class="col-sm-9">
            <input id="signupEmail" type="email"  name="email" placeholder="Enter your email address" maxlength="50" class="form-control"
                   [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.last_name ? '' : null">
          </div>
        </div>
         
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupEmail">Gender *</label>
          <div class="col-sm-9">
           <select class="form-control"  name="gender" name="gender" [(ngModel)]="registrationUser.gender" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.email ? '' : null">
            <option  value="Male">Male</option>
            <option  value="Female">Female</option>
            <option  value="Other">Other</option>
          </select>
          </div>
        </div>
        <br />
         
        <div class="form-group row location_row">
            <label class="col-sm-3 control-label" for="address_street1">Street Address / Number *</label>
          <div class="col-sm-6">
            <input id="address_street1" type="text" maxlength="50"  placeholder="Street Address" class="form-control"
                   [(ngModel)]="registrationUser.address_street1" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.email ? '' : null">
          </div>
          <div class="col-sm-3">
            <input id="signunumber" type="text" maxlength="50"  placeholder="Enter Number" class="form-control"
                   [(ngModel)]="registrationUser.street_number" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.address_street1 ? '' : null">
          </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="address_street2">Street Address 2</label>
          <div class="col-sm-9">
            <input id="address_street2" type="text" maxlength="50"  placeholder="Street Address" class="form-control"
                   [(ngModel)]="registrationUser.address_street2" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.street_number ? '' : null">
          </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="postal_code">Postal Code / City *</label>
          <div class="col-sm-4">
            <input id="postal_code" type="text" maxlength="50"  placeholder="Postal Code" class="form-control"
                   [(ngModel)]="registrationUser.postal_code" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.address_street2 ? '' : null">
          </div>
          <div class="col-sm-5">
            <input id="signucity" type="text" maxlength="50"  placeholder="City" class="form-control"
                   [(ngModel)]="registrationUser.city" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.postal_code ? '' : null">
          </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupState">State / Country *</label>
          <div class="col-sm-4">
            <input id="signupState" type="text" maxlength="50"  placeholder="State" class="form-control"
                   [(ngModel)]="registrationUser.state" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.city ? '' : null">
          </div>
          <div class="col-sm-5">
            <select class="form-control" id="signupCountry" name="country" [(ngModel)]="registrationUser.country" (change)="countryChange($event)">
                 <option value="">Select Country</option>
                 <option value="United States of America">United States of America</option>
                 <option *ngFor="let countVal of countrylist" [value]="countVal" >{{ countVal }}</option>
              </select>
          </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupName">Country of Citizenship*</label>
            <div class="col-sm-4">
              <select class="form-control" id="country_citizenship" name="country_citizenship" [(ngModel)]="registrationUser.country_citizenship" [attr.disabled]="!registrationUser.state ? '' : null">
                 <option value="">Select Country</option>
                 <option *ngFor="let countVal of countrylist" [value]="countVal">{{ countVal }}</option>
              </select>
             </div>    
             <div class="col-sm-5">
                <select class="form-control" id="country_citizenship2" name="country_citizenship2" [(ngModel)]="registrationUser.country_citizenship2" [attr.disabled]="!registrationUser.country_citizenship ? '' : null">
                 <option value="">Are you a dual citizen?</option>
                 <option value="No">No</option>
                 <option *ngFor="let countVal of countrylist" [value]="countVal">{{ countVal }}</option>
              </select>
             </div>  
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="prm_resident">Permanent Residency * <span tooltip="Enter Permanent Residency" class="tooltip-parent">
                    <i class="fa fa-info-circle"></i></span></label>
            <div class="col-sm-4">
                <select class="form-control"  name="permanent_resident1"  [(ngModel)]="registrationUser.permanent_resident1" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.country_citizenship2 ? '' : null">
                     <option value="">Select One</option>
                     <option value="None">None</option>
                     <option *ngFor="let countVal of countrylist" [value]="countVal">{{ countVal }}</option>
              </select>
            </div>
            <div class="col-sm-5">
                <select class="form-control"  name="permanent_resident2"  [(ngModel)]="registrationUser.permanent_resident2" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.permanent_resident1 ? '' : null">
                     <option value="">Select One</option>
                     <option value="None">None</option>
                     <option *ngFor="let countVal of countrylist" [value]="countVal">{{ countVal }}</option>
             </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupEmail">Mobile No. *</label>
          <div class="col-sm-5 phone_space">

                   <!-- <int-phone-prefix [defaultCountry]="countrycode" [locale]="countrycode" name="phone_number" [(ngModel)]="registrationUser.phone_number" type="number" [required]="true" maxlength="13"></int-phone-prefix> -->

                   <input id="phone_number"   type="text" maxlength="15"  class="form-control"
                   [(ngModel)]="registrationUser.phone_number"  (change)="phonenumberChange()" [ngModelOptions]="{standalone: true}">

          </div>
          <div class="col-sm-4" style="margin-top:10px;">

            <a href="#" target="_blank">Why Mobile?</a>

          </div>
          
        </div>
        
        <!-- UB05F Html Code -->

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupName">Username *</label>
            <div class="col-sm-9" id="password_tooltip">
            <span class="tooltiptext">Cannot use special characters (!@#$%^&*()) and blank space in username</span>
            <input id="signupUserName" (keypress)="omit_special_char($event)" type="text" maxlength="15"  placeholder="Pick an username" class="form-control"
                   [(ngModel)]="registrationUser.username" [attr.disabled]="!registrationUser.phone_number ? '' : null" [ngModelOptions]="{standalone: true}">
            </div>       
        </div>

        <!--  UB05F Html Code Ends -->

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupPassword">Password *</label>
            <div class="col-sm-9" id="password_tooltip">
              <span class="tooltiptext">Min. 8 characters (at least 1 number, 1 lowercase, 1 uppercase, 1 special character)</span>
              <input id="signupPassword" type="password"  maxlength="25" class="form-control"
                   placeholder="Min. 8 characters (at least 1 number, 1 LC, 1 UC, 1 special character)"  length="40" [(ngModel)]="registrationUser.password"
                   [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.username ? '' : null">
            </div>       
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupPassword2">Confirm Password *</label>
            <div class="col-sm-9" id="password_tooltip">
              <span class="tooltiptext">Min. 8 characters (at least 1 number, 1 lowercase, 1 uppercase, 1 special character)</span>
              <input id="signupConfirmPassword" type="password"  maxlength="25" class="form-control"
                   placeholder="Enter same password"  length="40" [(ngModel)]="registrationUser.confirmpassword"
                   [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.password ? '' : null">
            </div>       
        </div>
        
        <div class="form-group row" *ngIf="showTaxInfo">
            <label class="col-sm-3 control-label" for="signupTaxId">Date of Birth *</label>
            <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-4">
                    <select style="font-family: sans-serif;" class="form-control"  name="years" [(ngModel)]="registrationUser.years"  [ngModelOptions]="{standalone: true}" (change)="yearchange($event)" [attr.disabled]="!registrationUser.confirmpassword ? '' : null">
                        <option value="">Select Year</option>
                        <option *ngFor='let yrVal of years; trackBy: index;' [value]="yrVal">{{ yrVal }}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select style="font-family: sans-serif;" class="form-control" name="month" [(ngModel)]="registrationUser.month"  [ngModelOptions]="{standalone: true}" *ngIf="yeareligibility" [attr.disabled]="!registrationUser.years ? '' : null">
                        <option value="">Select Month</option>            
                        <option value="01" *ngIf="currentMonth >= 1">January</option>            
                        <option value="02" *ngIf="currentMonth >= 2">February</option>            
                        <option value="03" *ngIf="currentMonth >= 3">March</option>            
                        <option value="04" *ngIf="currentMonth >= 4">April</option>            
                        <option value="05" *ngIf="currentMonth >= 5">May</option>            
                        <option value="06" *ngIf="currentMonth >= 6">June</option>            
                        <option value="07" *ngIf="currentMonth >= 7">July</option>            
                        <option value="08" *ngIf="currentMonth >= 8">August</option>            
                        <option value="09" *ngIf="currentMonth >= 9">September</option>            
                        <option value="10" *ngIf="currentMonth >= 10">October</option>            
                        <option value="11" *ngIf="currentMonth >= 11">November</option>            
                        <option value="12" *ngIf="currentMonth >= 12">December</option>            
                    </select>
                    <select style="font-family: sans-serif;" class="form-control" name="month" [(ngModel)]="registrationUser.month"  [ngModelOptions]="{standalone: true}" *ngIf="!yeareligibility" [attr.disabled]="!registrationUser.years ? '' : null">
                        <option value="">Select Month</option>            
                        <option value="01">January</option>            
                        <option value="02">February</option>            
                        <option value="03">March</option>            
                        <option value="04">April</option>            
                        <option value="05">May</option>            
                        <option value="06">June</option>            
                        <option value="07">July</option>            
                        <option value="08">August</option>            
                        <option value="09">September</option>            
                        <option value="10">October</option>            
                        <option value="11">November</option>            
                        <option value="12">December</option>            
                    </select>
                </div>
                <div class="col-sm-4">
                    <select style="font-family: sans-serif;" class="form-control" name="day" [(ngModel)]="registrationUser.day"  [ngModelOptions]="{standalone: true}" *ngIf="!yeareligibility" [attr.disabled]="!registrationUser.month ? '' : null">
                        <option value="">Select Day</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29" *ngIf="registrationUser.month != '02' || this.leapyearval ">29</option>
                        <option value="30" *ngIf="registrationUser.month != '02' ">30</option>
                        <option value="31" *ngIf="registrationUser.month == '01' || registrationUser.month == '03' || registrationUser.month == '05' || registrationUser.month == '07' || registrationUser.month == '08' || registrationUser.month == '10' || registrationUser.month == '12' ">31</option>
                    </select>

                    <select style="font-family: sans-serif;" class="form-control" name="day" [(ngModel)]="registrationUser.day"  [ngModelOptions]="{standalone: true}" *ngIf="yeareligibility" [attr.disabled]="!registrationUser.month ? '' : null">
                        <option value="">Select Day</option>
                        <option value="01" *ngIf="currentDate >= 1">01</option>
                        <option value="02" *ngIf="currentDate >= 2">02</option>
                        <option value="03" *ngIf="currentDate >= 3">03</option>
                        <option value="04" *ngIf="currentDate >= 4">04</option>
                        <option value="05" *ngIf="currentDate >= 5">05</option>
                        <option value="06" *ngIf="currentDate >= 6">06</option>
                        <option value="07" *ngIf="currentDate >= 7">07</option>
                        <option value="08" *ngIf="currentDate >= 8">08</option>
                        <option value="09" *ngIf="currentDate >= 9">09</option>
                        <option value="10" *ngIf="currentDate >= 10">10</option>
                        <option value="11" *ngIf="currentDate >= 11">11</option>
                        <option value="12" *ngIf="currentDate >= 12">12</option>
                        <option value="13" *ngIf="currentDate >= 13">13</option>
                        <option value="14" *ngIf="currentDate >= 14">14</option>
                        <option value="15" *ngIf="currentDate >= 15">15</option>
                        <option value="16" *ngIf="currentDate >= 16">16</option>
                        <option value="17" *ngIf="currentDate >= 17">17</option>
                        <option value="18" *ngIf="currentDate >= 18">18</option>
                        <option value="19" *ngIf="currentDate >= 19">19</option>
                        <option value="20" *ngIf="currentDate >= 20">20</option>
                        <option value="21" *ngIf="currentDate >= 21">21</option>
                        <option value="22" *ngIf="currentDate >= 22">22</option>
                        <option value="23" *ngIf="currentDate >= 23">23</option>
                        <option value="24" *ngIf="currentDate >= 24">24</option>
                        <option value="25" *ngIf="currentDate >= 25">25</option>
                        <option value="26" *ngIf="currentDate >= 26">26</option>
                        <option value="27" *ngIf="currentDate >= 27">27</option>
                        <option value="28" *ngIf="currentDate >= 28">28</option>
                        <option value="29" *ngIf="currentDate >= 29">29</option>
                        <option value="30" *ngIf="currentDate >= 30">30</option>
                        <option value="31" *ngIf="currentDate >= 31">31</option>
                    </select>

                </div>
                
                
            </div>
             </div>      
        </div>

        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupEmail" *ngIf="user_type == 'analyst'">Profile Image * <span tooltip="Maximum size 4MB and the image should be your own passport size photo. Upload JPEG or PNG files only." class="tooltip-parent">
                    <i class="fa fa-info-circle"></i></span></label>
             <label class="col-sm-3 control-label" for="signupEmail" *ngIf="user_type == 'User'">Profile Image <span tooltip="Maximum size 4MB and the image should be your own passport size photo. Upload JPEG or PNG files only." class="tooltip-parent">
                    <i class="fa fa-info-circle"></i></span></label>
            <div class="col-sm-9">

            <div id="imageDiv" class="">
              <div class="fileUpload btn btn-primary">
                  <span class="choose_profileID">Choose File </span>
                  <input id="uploadBtn" type="file" accept="image/jpeg, image/png, image/jpg" class="upload" (change)="fileChangeEvent($event)" [attr.disabled]="!registrationUser.username ? '' : null">
              </div>
              <span id="uploadFile" placeholder="No File Chosen" >No File Choosen</span>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="showTaxInfo">
            <label class="col-sm-3 control-label" for="signupTaxId">TAX ID *</label>
            <div class="col-sm-5">
            <input id="taxId" type="text" name="taxId" placeholder="Enter your Tax ID Number" maxlength="16" class="form-control"
                   [(ngModel)]="registrationUser.taxId" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.day ? '' : null">
             </div>      
             <div class="col-sm-4" style="margin-top: 10px;"><a target="_blank" href="/html/v1/taxid-info.html">What is TAX ID?</a></div>
        </div>

        <div class="form-group row" *ngIf="showTaxInfo">
             <label class="col-sm-3 control-label" for="signupTAXIDProof" >Upload Tax ID <br />Proof * <span tooltip="Upload a valid Tax ID proof in jpeg or png format maximum of 2MB" class="tooltip-parent">
                    <i class="fa fa-info-circle"></i></span></label>
            <div class="col-sm-9" style="margin-top:10px;">

            <div id="imageDivTaxIdProof" class="">
              <div class="fileUpload btn btn-primary">
                  <span class="choose_fileTaxID">Choose File </span>
                  <input id="uploadBtn2" type="file" accept="image/jpeg, image/png, image/jpg" class="upload" (change)="fileTAXIDChangeEvent($event)" [attr.disabled]="!registrationUser.username ? '' : null">
              </div>
              <span id="uploadFileTAXID" placeholder="No File Chosen" >No File Choosen</span>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="showTaxInfo">
            <label class="col-sm-3 control-label" for="signupTaxId">Government ID *</label>
            <div class="col-sm-5">
            <input id="govId" type="text" name="govId" placeholder="Enter your Government ID Number" maxlength="16" class="form-control"
                   [(ngModel)]="registrationUser.govId" [ngModelOptions]="{standalone: true}" [attr.disabled]="!registrationUser.taxId ? '' : null">
             </div>  
             <div class="col-sm-4" style="margin-top: 10px;"><a target="_blank" href="/html/v1/taxid-info.html">What is Government ID?</a></div>    
        </div>


        <div class="form-group row" *ngIf="showTaxInfo">
             <label class="col-sm-3 control-label" for="signupIDProof" >Upload Government ID Proof * <span tooltip="Upload a valid government ID proof like Passport, Driving license in jpeg or png format maximum of 2MB" class="tooltip-parent">
                    <i class="fa fa-info-circle"></i></span></label>
            <div class="col-sm-9" style="margin-top:10px;">

            <div id="imageDivIdProof" class="">
              <div class="fileUpload btn btn-primary">
                  <span class="choose_fileID">Choose File </span>
                  <input id="uploadBtn3" type="file" accept="image/jpeg, image/png, image/jpg" class="upload" (change)="fileIDChangeEvent($event)" [attr.disabled]="!registrationUser.username ? '' : null">
              </div>
              <span id="uploadFileID" placeholder="No File Chosen" >No File Choosen</span>
            </div>
          </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="signupPassword2">Plan *</label>
            <div class="col-sm-5 select_plans" *ngIf="planbaseduser == 'true' ">
              <select [(ngModel)]="registrationUser.subscription" [ngModelOptions]="{standalone: true}" class="form-control" *ngIf="plansData" [attr.disabled]="!registrationUser.govId ? '' : null">
                <option value="basic">Basic - {{plansData.price_total_basic}} LeBar per Month</option>
                <option value="silver" >Silver - {{plansData.price_total_silver}} LeBar per Month</option>
                <option value="gold" >Gold - {{plansData.price_total_gold}} LeBar per Month</option>
                <option value="platinum" >Platinum - {{plansData.price_total_platinum}} LeBar per Month</option>
                <option value="yearly" >Yearly - {{plansData.price_total_yearly}} LeBar per Month</option>
              </select>              
               
            </div> 
            <div class="col-sm-4"><a class="view_plans_price" href="/html/v1/subscription-plans.html" target="_blank">Plans and Pricing</a></div>     
        </div>
        
        <div class="form-group row">
          <label class="col-sm-3 control-label" for="signupCaptcha"></label>
          <div class="col-sm-9 captcha_down">
            <recaptcha (resolved)="resolved($event)" siteKey="6LfeiuIZAAAAAFzosJlXu9DCv4jJAlZ6yWAFXmAX"></recaptcha>
          </div>
        </div>
        <div class="form-group row agreebox">
          <label class="col-sm-3 control-label" for="agree"></label>
          <div class="col-sm-9 agree_input">
            <input type="checkbox" name="agree" [(ngModel)]="registrationUser.agree" id="agree" /> <span class="agree_text">I have downloaded, read and agree to the <a href="/html/v1/legal-terms-and-conditions.html" target="_blank">terms and conditions.</a> I did not register on this site before.</span>
          </div>  
        </div>
    
        <br>
        <div class="form-group row">

          <div class="offset-sm-3 col-sm-9 buttons-login-screen">
            <button *ngIf="user_type != 'analyst'" [disabled]="!invitationError || !registrationUser.first_name || !registrationUser.last_name || !registrationUser.street_number ||!registrationUser.address_street1 ||!registrationUser.postal_code ||!registrationUser.city ||!registrationUser.state ||!registrationUser.country ||!registrationUser.group_trade || !registrationUser.gender || !registrationUser.invitation || !registrationUser.phone_number || !registrationUser.username || !registrationUser.password || !registrationUser.confirmpassword || !registrationUser.agree || !captcharesponse" (click)="onRegister()"  id="signupSubmit" type="submit" class="btn btn-default btn-auth">
                Register
            </button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a (click)="backhistory()"><button type="button" class="btn btn-default btn-auth">Cancel</button></a>
          </div>  
        </div>
    </form>
  </div>
</div>


<div id="popup1" class="overlay" *ngIf="helpGroup">
  <div class="popup">
    <div class="close_btn ap_close_btn" (click)="helpGroup = false;">&times;</div>
    <div class="content">
      What is TAX ID?
    </div>
    <div class="content">
      <a class="continue_session" (click)="helpGroup = false;" >Continue</a>
    </div>  
  </div>
</div>

<div id="popup1" class="overlay" *ngIf="phoneValid">
  <div class="popup">
    <div class="close_btn ap_close_btn" (click)="phoneValid = false;">&times;</div>
    <div class="content">
      Virtual/Landlines not allowed. Enter a valid Mobile number.
    </div>
    <div class="content">
      <a class="continue_session" (click)="phoneValid = false;" >Continue</a>
    </div>  
  </div>
</div>